# buster-doctalk @ git+https://github.com/towardsai/buster@async_client
modal
openai
anthropic
instructor
gradio
python-dotenv
pandas
pydantic
tiktoken
ipykernel
SQLAlchemy
llama-index
langchain
cohere
numpy
pymysql