# buster-doctalk @ git+https://github.com/towardsai/buster@async_client
modal
openai
instructor
gradio
python-dotenv
pandas
pyarrow
pydantic
tiktoken
ipykernel
SQLAlchemy
llama-index
langchain
cohere
numpy
pymysql