# git+https://github.com/gradio-app/gradio@main
# buster-doctalk@git+https://github.com/towardsai/buster@async_client
gradio
openai
python-dotenv
pandas
pyarrow
instructor
pydantic
tiktoken
ipykernel
SQLAlchemy
llama-index
langchain
cohere
numpy